*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}
/* ******************************** */
.header{
    font-family: 'Roboto', sans-serif;
}
.header__top{
    background-color: #303030;
}
.header__btn,
.footer__btn{
    float: right;
    color: #1b1b1b;
    font-size: 16px;
    line-height: 36px;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    position: relative;
    outline: none;
}
.header__btn_menu{
    display: none;
}
.header__btn::before,
.footer__btn::before{
    content: "\f0b1";
    font-family: 'icomoon';
    color: #1b1b1b;
    position: absolute;
    left: 22px;
}
.header__contacts::after{
    content: "";
    clear: both;
}
.header__phone,
.header__email{
    color: #d3d2d2;
    letter-spacing: 0.35px;
    line-height: 45px; 
    position: relative;
}
.header__phone{
    padding-left: 20px;
    padding-right: 30px;
}
.header__email{
    padding-left: 24px;
}
.header__phone::before,
.header__email::before{
    font-family: 'icomoon';
    color: #ffcd21;
    position: absolute;
    left: 0;
}
.header__phone::before{
    content: "\f095";
}
.header__email::before{
    content: "\f003";
}
.header__content{
    padding: 34px 0 23px;
}
.header__content-inner{
    display: flex;
    justify-content: space-between;
}
.menu li{
    display: inline-block;
}
.menu a{
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0 16px;
    transition: all .3s;
}
.menu a:hover{
    border-color: #ffc222;
}
.menu li + li{
    padding-left: 10px;
}
/* ******************************** */
.slider{
    background: url(../img/slider-bg.jpg) no-repeat center center;
    background-size: cover;
    min-height: 500px;
}
.slider__inner{
    position: relative;
}
.slider__item-content{
    text-align: center;
    padding-top: 130px;
    max-width: 665px;
    margin: 0 auto;
}
.slider__title{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 35px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 24px;
}
.slider__text{
    color: #d3d2d2;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 47px;
}
.default-btn{
    display: inline-block;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    /* line-height: 24px; */
    font-size: 14px;
    letter-spacing: 0.35px;
    border: 1px solid #ffc222;
    padding: 14px 20px 13px 20px;
    outline: none;
    border-right-width: 20px;
    position: relative;
}
.default-btn::after{
    content: "\f105";
    font-family: 'icomoon';
    display: block;
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
    padding: 15px 0;
}
.slick-btn{
    position: absolute;
    top: 75%;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    outline: none;
    background-color: #ffc222;
    cursor: pointer;
}
.slick-btn.slick-disabled{
    cursor: default;
    background: transparent;
}
.slick-btn::before{
    position: absolute;
    font-family: 'icomoon';
    color: #fff;
    /* left: 50%; */
    /* top: 50%; */
    transform: translate(-50%, -50%);
}
.slick-next{
    right: 0;
    z-index: 2;
}
.slick-next::before{
    content: "\f105";
}
.slick-prev{
    left: 0;
    z-index: 2;
}
.slick-prev::before{
    content: "\f104";
}

/* ***************************** */
.services{
    padding: 60px 0 30px;
}
.services__top,
.news__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
.services__title-box,
.form__title-box,
.news__title-box{
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}
.services__title-box::before,
.form__title-box::before,
.news__title-box::before{
    content: "";
    display: block;
    width: 106px;
    height: 2px;
    background-color: #ffc222;
    position: absolute;
    left: 0;
    top: 10px;
}
.services__title,
.form__title,
.news__title{
    color: #212020;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 24px;
}
.services__text,
.form__text,
.news__text{
    letter-spacing: 0.14px;
}
.services__btn a,
.news__btn a{
    border: 3px solid #e6e6e6;
    color: #373636;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    letter-spacing: 0.35px;
    padding: 10px 38px;
}
.services__items{
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.services__item{
    max-width: 360px;
    padding: 24px 38px 140px;
    box-shadow: 0 7px 24px 3px rgba(91, 89, 89, 0.14);
    background-color: #f9f9f9;
    position: relative;
}

.services__item_title{
    color: #212020;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 28px 0;
}

.services__item_btn{
    position: absolute;
    bottom: 40px; 
    left: 0;
    right: 0;
    /* display: flex; */
    /* justify-content: space-between; */
}
.services__item_btn .default-btn{
    color: #373636;
}
.services__item_btn .default-btn::after{
    color: #fff;
}
.services__item_link{
    color: #050505;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #050505;
    margin-right: 60px;
}

.about{
    background: url(../img/about-bg.jpg) center center no-repeat;
    background-size: cover;
    min-height: 300px;
    padding: 37px 47px;
}
.about__inner{
    max-width: 537px;
}
.about__title{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 34px;
}
.about__text{
    color: #d3d2d2;
    line-height: 24px;
    letter-spacing: 0.14px;
    margin-bottom: 27px;
}
.about__btn.default-btn::after{
    color: #303030;
}

.form{
    padding-top: 45px;
}
.form__inner{
    padding-bottom: 40px;
    background: url(../img/form-bg.png) bottom right no-repeat;
    min-height: 460px;
}
.form__box{
    max-width: 850px;
}
.form__box-inner{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}
.form__box_left{
    max-width: 263px;
    width: 100%;
}
.form__box_right{
    max-width: 555px;
    width: 100%;
}

.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea{
    outline: none;
    width: 100%;
}
.form__box-inner label{
    color: #282828;
    font-family: 'Roboto', sans-serif;
    line-height: 36px;
}
.form__box-inner input{
    margin-bottom: 8px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #e6e6e6;
}
.form__inner .jq-selectbox.jqselect{
    display: block;
    width: 100%;
    outline: none;
}
.form__inner .jq-selectbox__select{
    height: 40px;
    border: 1px solid #e6e6e6;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
}
.form__box-inner textarea{
    border: 1px solid #e6e6e6;
    padding: 10px;
    height: 208px;
    resize: none;
    margin-bottom: 26px;
}
.form__box-inner button{
    color: #282828;
    float: right;
    background-color: #fff;
}
.form .jq-selectbox__trigger{
    border-left: none;
}
.form__box-inner .jq-selectbox__trigger-arrow{
    border: none;
    position: relative;
}
.form__box-inner .jq-selectbox__select {
    padding-left: 17px;
	height: 40px;
	border: 1px solid #e6e6e6;
}
.form__box-inner .jq-selectbox__trigger-arrow::before{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    bottom: 0;
    right: 17px;
    transform: rotate(90deg);
}
.form__box-inner .jq-selectbox__dropdown {
	width: 100%;
	border: 1px solid #e6e6e6;
	background: #FFF;
}
.form__box-inner .jq-selectbox li {
	min-height: 40px;
	padding: 5px 17px 6px;
	color: #231F20;
}
.form__box-inner .jq-selectbox li.selected {
	background-color: #e6e6e6;
	color: #231F20;
}
.form__box-inner .jq-selectbox li:hover {
	background-color: #e6e6e6;
	color: #231F20;
}
.form__box-innern .jq-selectbox li.disabled {
	color: #AAA;
}
.form__box-inner .jq-selectbox li.disabled:hover {
	background: none;
}

/* ******************************* */
.advantages{
    padding: 55px 0 40px;
    background: url(../img/advantages-bg.jpg) no-repeat center center;
    min-height: 285px;
    background-size: cover;
}
.advantages__inner{
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.advantages__item{
    max-width: 360px;
    padding: 0 12px;
}
.advantages__title{
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-size: 18px;
    padding: 65px 0 17px;
    position: relative;
}
.advantages__title::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border: 2px solid #ffc222;
}
.advantages__title::after{
    content: "\f00c";
    font-family: 'icomoon';
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.advantages__text{
    color: #d3d2d2;
    line-height: 24px;
    letter-spacing: 0.14px;
}
/* ******************************* */

.news{
    padding: 68px 0 105px;
    background-color: #f9f9f9;
}
.news__top{
    margin-bottom: 43px;
}
.news__inner{
    display: flex;
    justify-content: space-between;
}
.news__slider{
    padding: 60px 40px 45px 70px;
    max-width: 555px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 15px 1px rgba(128, 127, 127, 0.13);
    position: relative;
}
.news__slider::before{
    content: "\f10e";
    font-family: 'icomoon';
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 70px;
    z-index: 3;
    width: 65px;
    height: 30px;
    background-color: #ffc222;
    text-align: center;
}
.news__slider_title{
    color: #242424;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.9px;
    font-weight: 500;
    margin-bottom: 15px;
}
.news__slider_text{
    color: #5e5e5e;
    line-height: 18px;
    letter-spacing: 0.14px;
    margin-bottom: 30px;
}
.news__slider_autor{
    color: #212020;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    letter-spacing: 0.14px;
    font-weight: 500;
}
.news__slider_inner .slick-btn{
    top: auto;
    bottom: -120px;
    border: 1px solid #fff;
}
.news__slider_inner .slick-btn{
    top: auto;
    bottom: -120px;
    border: 1px solid #fff;
}
.news__slider_inner .slick-disabled{
    border: 1px solid #dadada;
}
.news__slider_inner .slick-disabled::before{
    color: #dadada;
}

.news__slider_inner .slick-next{
    right: -40px;
}
.news__slider_inner .slick-prev{
    left: auto;
    right: 18px;
}
.news__blog{
    max-width: 262px;
    width: 100%;
}

.news__images{
    position: relative;
}
.news__date{
    position: absolute;
    top: 0;
    left: 10px;
    width: 47px;
    height: 54px;
    background-color: #ffc222;
    text-align: center;
    padding-top: 30px;
    color: #f9f9f9;
    font-weight: 700;
}
.news__blog_title{
    color: #242424;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.8px;
    padding: 12px 0;
}
.news__blog_text{
    color: #5e5e5e;
    line-height: 18px;
    letter-spacing: 0.14px;
}
.footer{
    padding: 25px 0 30px;
    background-color: #595959;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__info{
    max-width: 360px;
}
.footer__title{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
}
.footer__text{
    color: #d3d2d2;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    margin-bottom: 25px;
}
.footer__list{
    padding-top: 10px;
}
.footer__list li{
    margin-bottom: 10px;
    
}
.footer__list a{
    color: #d3d2d2;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    padding-left: 33px;
    position: relative;
}
.footer__list a::before{
    content: "\f003";
    font-family: 'icomoon';
    font-size: 16px;
    color: #ffc222;
    position: absolute;
    left: 0;
}
.footer__list a.footer__phone::before{
    content: "\f095";
    left: 3px; 
}
.footer__list a.footer__map::before{
    content: "\f041";
    left: 3px;
}

.footer__btn{
    float: none;
    margin-bottom: 25px;
}

.footer__copy{
    background-color: #303030;
    padding: 15px 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.6px;
}
.footer__map{
    padding-top: 10px;
    max-width: 630px;
    width: 100%;
}
.footer__map iframe{
    width: 100%;
    /* height: 250px; */
}
/* ********************** */

.popUp{
    display: none;
    width: 300px;
}
.popUp input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.popUp input[type="submit"]{
    background-color: #ffc222;
    border: none;
}