*{
	margin: 0;
	padding: 0;
}



ul{
	list-style: none;
}

a{
	text-decoration: none;
	cursor: pointer;
}

body{
	background: url(../img/bg-body.png) no-repeat 50% 0 #9b9898;
	font: 12px/1.67 Arial, sans-serif;
	color: #4f4f4f;
	padding: 40px 0;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
}

		/* HEADER BEGIN */

header{
	background: #ededed;
	height: 150px;
	position: relative;
	-o-border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	-webkit-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
}

header h1{
	float: left;
	margin: 12px 0 3px 20px;
}

.tel{
	background: url(../img/bg-tel.png) repeat-x 0 0;
	float: right;
	padding: 5px 25px 10px 90px;
	font-size: 16px;
	font-weight: bold;
	color: #9b9898;
}

nav{
	float: right;
	clear: right;
}

nav li{
	float: right;
	margin: 33px 16px 0 6px;
		
}

nav li a:hover{
	background: #9b9898 repeat-x 0 0;
	border-radius: 4px;
}

nav li.current a{
	background: #ff0000 repeat-x 0 0;
	border: 0px solid #00224b;
	border-radius: 4px;
}

nav li a{
	font-weight: bold;
	color: #000;
	text-decoration: none;
	outline: 0px solid #ccc;
	text-transform: uppercase;
	padding: 3px 15px;

}
		/* HEADER END */

		/* DISPLAY BEGIN */


.display{
	background: url() no-repeat 0 0 #9b9898;
	height: 430px;
	color:#fff;
	font-size: 29px;
	font-family: Arial, sans-serif;
	line-height: 35px;
	position: relative;
}	


.slider{
	width: 938px;
	height: 430px;
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
	position: relative;
}

.bxslider li img{
	max-width: 100%;
}

.bx-prev{
	display: block;
	width: 32px;
	height: 32px;
	background: url(../img/bg-arrow-prev.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 15px;
	margin-top: -16px;
	text-indent: -9999px;
	z-index: 100;
}

.bx-next{
	display: block;
	width: 32px;
	height: 32px;
	background: url(../img/bg-arrow-next.png) no-repeat;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -16px;
	text-indent: -9999px;
	z-index: 100;
}

.display p.slogan{
	font-size: 70px;
	font-weight: bold;
	color: #ff0000;
	font-family: Savoye LET, serif;
	margin: 50px 0 75px;
}

.slogan1 {
	position: absolute;
	bottom: 25px;
	left: 50px;
	z-index: 5;
	top: 50px;
	left: 50px;
}

	/* DISPLAY END */

	/* grey block start */

.soc-media{
	background: #ededed;
	padding: 50px 0 20px 50px;
	border-bottom: 1px solid #cecece;
	height: 70px;
}

.soc-media li{
	float: left;
	padding: 12px 0 12px 80px;
	width: 150px;
	margin-right: 90px;
}

.soc-media li:last-child{
	margin-right: 0;
}

.soc-media h3{
	font: bold 15px Arial, sans-serif;
	color: #575757;
}

.soc-media li.instagram{
	background: url(../img/bg-instagram.png) no-repeat 0 50%;
}

.soc-media li.vk{
	background: url(../img/bg-vk.png) no-repeat 0 50%;
}

.soc-media li.map{
	background: url(../img/bg-map.png) no-repeat 0 50%;
}
	/*grey block end*/


/* middle blok begin */
.middle_block{
	background: #fff;
	padding: 40px 0 50px 40px;
}

.middle_block li{
	float: left;
	width: 265px;
	margin-right: 40px;
}

.middle_block li:last-child{
	margin-right: 0;
}

.middle_block h2, h2.title{
	font-size: 25px;
	color: #585858;
	font-weight: bold;
	margin-bottom: 25px;
	text-align: center;
}

.middle_block p{
	color: #4f4f4f;
	line-height: 1.67;
	margin: 23px 0 18px 0;
}

.middle_block a.readMore{
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	color: #6c6c6c;
	padding: 8px 11px;
	border: 1px solid #ccc;
	border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-image: linear-gradient(to top, #e5e5e5, #fefefe);
}

.middle_block a.readMore:hover{
	background-image: linear-gradient(to bottom, #e5e5e5, #fefefe);
}

/*middle block end*/

/*footer block begin*/

footer{
	background: url(../img/bg-footer-top.gif) repeat-x #ededed;
	-o-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.top-footer{
	padding: 25px 10px 10px 42px;
	border-bottom: 1px solid #cccccc;
}

.top-footer li{
	float: left;
}

.top-footer h3{
	color: #585858;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 30px;
}

.top-footer a{
	color: #4f4f4f;
}



.browse_site, .address{
	width: 130px;
	margin-right: 180px;
}
.browse_site li, .address li{
	width: 130px;
}

.browse_site ul li a:hover{
	background: #9b9898 repeat-x 0 0;
	border-radius: 4px;
}


/*------------------------------------*/

.bottom-footer{
	padding: 25px 41px 26px;
	border-top: 1px solid #fff;
	position: relative;
}

.bottom-footer .logo{
	position: absolute;
	bottom: 5px;
	right: 30px;
	
}

.social{
	float: right;
	margin-right: 123px;
}

.social li{
	float: left;
	margin-right: 15px;
}

.social a{
	display: block;
	width: 17px;
	height: 17px;
	background: url(../img/sprites.png) no-repeat 0 0;
}

.social a.inst{
	background-position: -16px 0; 
}

/*footer block end*/


				/*About Us*/

.page-block{
	background: url(../img/bg-slider-block1.png) no-repeat 0 0;
	color: #fff;
	padding: 20px 38px;
	font-size: 20px;
}

.page-block p{
	float: right;
	font-style: italic;
	line-height: 45px;
}

.page-block h1{
	float: left;
	font-size: 25px;
	font-weight: bold;
}


.main-block{
background: url(../img/bg-main-block.gif) repeat-y 700px 0 #fff;
padding-bottom: 73px;

}

main{
	width: 621px;
	float: left;
	margin-left: 41px;
}

main p{
	margin-top: 40px;
	line-height: 24px;
}

main.text p{
	text-align: justify;
	text-indent: 25px;
	margin-top: 15px;
}

main.text{
	margin-top: 15px;
	padding: 10px;
}

side-bar{
	float: right;
	width: 219px;
	margin-right: 40px; 
}

main img#line{
	display: block;
	margin: auto;
}

.sb-block h3.title{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	width: 218px;
	height: 28px;
	background: linear-gradient(to right, #cfcfcf, #fff);
	margin: 40px 0 40px -22px;
	padding-left: 22px;
}

.advertis{
	margin-left: 22px;
	margin-top: 15px;
	background: linear-gradient(to right, #cfcfcf, #fff);
}

.advertis a{
	display: block;
	width: 219px;
	height: 333px;
}
				/*End About Us*/

				/* service begin */

.bgGradient{
	background: url(../img/bg-webLogoBlog.png) repeat-x 0 0 #fff;
}

.bgGradient p{
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
}

#bullets{
	list-style: square inside;
}

				/* service end */


				/* portfolio start */
.portfolio {
	background: url(../img/bg-webLogoBlog.png) repeat-x 0 0 #fff;
	padding: 30px 0 30px 30px;
}

.portfolio li{
	float: left;
	width: 265px;
	margin: 15px 20px;
}

.portfolio li:last-child{
	margin-right: 0;
}
				/* portfolio end*/



				/* contact start */
main p.reCall{
	font: 20px bold Arial, sans-serif;
	color: #ff0000;
}

main p{
	font: 16px bold Arial, sans-serif;
	margin-top: 25px;
}

form{
	width: 385px;
}

form label{
	font-size: 13px;
	color: #4f4f4f;
}

input#name, input#tel{
	border: 1px solid #c9c9c9;
	-o-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background-image: linear-gradient(to top, #e5e5e5, #fefefe);
	width: 100%;
	padding: 8px 13px;
	resize: none;
}


.button{
	width: 100px;
	height: 32px;
	margin-bottom: 25px;
	display: block;
}

.sb-block a{
	color: #4f4f4f;
}

.sb-block li{
	padding-left: 15px;
}

.sb-block h3.s-b{
	margin: 18px 0 14px 0;
}


.soc-contact li{
	display: inline-block;
	padding-right: 20px;
}

.soc-contact a{
	display: block;
	width: 32px;
	height: 32px;
}

.soc-contact li a.instagram{
	background: url(../img/bg_inst.png);
}

.soc-contact li a.vk{
	background: url(../img/bg_vk.png);
	border-radius: 5px;
}

.soc-contact li a.map{
	background: url(../img/bg_map.png);
}
				/* contact end */



				/*clearfix*/	
.blurbs:after,
.top-footer:after,
.middle_block:after,
.page-block:after,
.main-block:after,
.benefits:after,
.pagination:after,
.portfolio:after

{
	content: "";
	display: table;
	clear: both;
}








